<div class="container">
  <h1> Create Your Team </h1>
  <%= render 'shared/circle_container', user: @user %>

  <!-- <button class="button1"> Complete the team</button> -->
  <%= link_to "Complete the team", @teams_path, class: "button1" %>

  <ul id="friends" class="friend-list">
    <% @friends.each do |person| %>
      <li id="<%= person.friend.id %>" ><img class="avatar-large" alt="avatar-large" src="<%= person.friend.image %>" /><%= person.friend.username %></li>
    <% end %>
  </ul>

</div>

<script>

</script>
