<div class="container">
  <h2 id="team-title">Create your team now</h2>
  <div class="inline-game-cards">

    <div id="ow" class="game-card">
      <img src="https://blznav.akamaized.net/img/games/cards/card-overwatch-7eff92e1257149aa.jpg">
      <div class="game-card-infos">
        <div>
          <h2><%= @games[0].name.capitalize %></h2>
        </div>
        <p class="card-game-rank">Rank select</p>
      </div>
    </div>

    <div id="csgo"class="game-card">
      <img src="https://s3.gaming-cdn.com/images/products/62/orig/counter-strike-global-offensive-prime-status-upgrade-cover.jpg">
      <div class="game-card-infos">
        <div>
          <h2><%= @games[1].name.capitalize %></h2>
        </div>
        <p class="card-game-rank">Rank select</p>
      </div>
    </div>

    <div id="lol" class="game-card">
      <img src="https://i.udemycdn.com/course/480x270/1712886_5ce0.jpg">
      <div class="game-card-infos">
        <div>
          <h2><%= @games[2].name.capitalize %></h2>
        </div>
        <p class="card-game-rank">Rank select</p>
      </div>
    </div>

  </div>


  <% spirit = ["Casual", "Competitive"] %>

  <div class="container team-form">
    <div class="games-container">
    <%= simple_form_for @team, url: teams_path, method: 'POST' do |f| %>
      <%= f.association :game, as: :radio_buttons%>
      <%= f.input :spirit, collection: spirit, selected: 1 %>
    </div>

      <%@games.each do |game| %>
        <% ranks = game.rank_typology.tr('[]"', '').split(",")%>
        <%= f.input :rank_scale, collection: ranks, selected: 1, input_html: { class: 'hidden-rank rank-select', id: 'team_select_' + game.id.to_s }, label_html: { class: 'hidden-rank rank-label', id: 'team_label_' + game.id.to_s } %>
      <% end %>
      <div class="gender-container">
        <%= f.input :gender_choice, as: :radio_buttons, collection: [['girls', 'Girl Power'], ['mixed', 'Better together'], ['guys','Just the Boys']], label_method: :second, value_method: :first %>
      </div>
        <%= f.button :submit %>
      <% end %>
  </div>
</div>
