<div class="container-review">

<!-- IF THERE IS NO TEAM REVIEW FOR CURRENT USER AND CURRENT TEAM -->
<!--   <% if @team.team_review_for(current_user) %> -->
    <div class="review-title">
      <h1>The game is never over</h1>
    </div>
    <!-- LOOP UNTIL THERE IS STILL USER REVIEWS NEEDED FOR CURRENT USER -->
    <% loop do %>
      <% member = @team.user_review_needed(current_user).first %>
      <!-- IF THERE IS STILL MEMBERS NEEDING REVIEWS: SUBMIT USER REVIEW-->
      <% if !member.nil? %>
        <h2>Rate your teammates</h2>
        <%= render 'shared/user_review_card', user: member, team: @team %>
      <!-- IF THERE IS NO MORE MEMBERS NEEDING REVIEWS: SUBMIT TEAM REVIEW -->
      <% elsif member.nil? %>
        <h2>Rate your party</h2>
        <div class="rating-card team-review">
          <div class="team-rating">
            <div id="rater"></div>
            <div>
              <%= simple_form_for [@team, @team_review] do |f| %>
              <%= f.hidden_field :rating, :value => 5 %>
              <%= f.input :comment, label: false, placeholder: "It worth a word", as: :text %>
            </div>
              <%= f.button :submit, "Submit", class: "my-button btn-user-rating" %>
              <% end %>
          </div>
        </div>
      <% end %>
    <% break  @team.user_review_needed(current_user).any? == false %>
    <% end %>

<!-- IF THERE IS A TEAM REVIEW FOR CURRENT USER AND CURRENT TEAM -->
<!--   <% else %>
    <div class="already-submitted">
      <div class="already-submitted-text">
        <h1>You already submited you review on this team!</h1>
        <p>(thanks)</p>
      </div>
      <div>
        <%= link_to "My profile",  user_path(current_user.id), class:"button-green"%>
        <%= link_to "Find a team",  new_team_path, class:"button-green"%>
      </div>
    </div>
  <% end %>
</div> -->
