<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>





<%= simple_form_for @users do |f| %>
  <%= f.input :username %>
  <%= f.input :email %>
  <%= f.input :birthdate %>
  <%= f.input :langage %>
  <%= f.input :location %>
  <%= f.button :submit %>
<% end %>
