<div id="pofile-box">
  <div class="user-tagname">
    <%= image_tag @user.image, class:"avatar-lg" %>
    <p><%= @user.username %></p>
    <% if @user.gender == "female" %>
      <p><i class="fas fa-female"></i></p>
    <% elsif @user.gender == "male" %>
      <p><i class="fas fa-male"></i></p>
    <% elsif @user.gender == "fluid" %>
      <p><i class="fas fa-rainbow"></i></p>
    <% end %>
    <p class="user-age">AGE<%= @user.birthdate %></p>
    <p></p>
  </div>
  <div class="user-mercy-stats">
    <% if @user.user_reviews != [] %>
      <p class="user-endorsement">ENDORSEMENTS <%= UserReview.where(user_id: @user.id, endorse: true).count %></p>
      <p class="user-as-friends">ADDED AS FRIEND <%= UserReview.where(user_id: @user.id, add_friend: true).count %></p>
      <p class="user-endorsement">POSITIVE REVIEWS <%= (UserReview.where(user_id: @user.id, endorse: true).count / UserReview.where(user_id: @user.id).count)*100 %></br>%</p>
    <% end %>
      </div>
    <div class="discord-id">
      <%= image_tag 'discord_logo.jpg' %>
      <%= @user.discord_id %>
    </div>
  <p class='more-info'>More info <i class="fas fa-plus"></i></p>
</div>

<!-- MY TEAMS -->

<%= render 'shared/separator', title: 'MY TEAMS', score: @user.teams.count %>

<% @user.teams.each do |team| %>
  <%= render 'shared/card_team', team: team %>
<% end %>

<!-- MY FRIENDS -->

<%= render 'shared/separator', title: 'MY FRIENDS', score: @user.friendships.count %>

<% @user.friends.each do |friend| %>
  <%= render 'shared/card_friend', friend: friend %>
<% end %>

<!-- MY GAMES -->

<%= render 'shared/separator', title: 'MY GAMES', score: @user.profiles.count %>
