<% if team.status == 'pending' %>
  <div class="card-team">
    <%= image_tag "https://i.pinimg.com/originals/9d/48/24/9d4824e004d497a1ce85c61db5ae26a6.jpg", class:"bottom-line pending" %>
    <div class="card-team-infos">
      <div>
        <h2>Team <%= team.id %></h2>
        <p>Game: &nbsp;<span><%= team.game.name.capitalize %></span></p>
        <p>Spirit: &nbsp;<span><%= team.spirit.capitalize %></span></p>
        <p>Rank: &nbsp;<span><%= team.rank_scale.capitalize %></span></p>
        <p>Type: &nbsp;<span><%= team.gender_choice.capitalize %></span></p>
      </div>
      <p class="card-team-status pending">PENDING</p>
    </div>
  </div>

<% elsif team.status == 'complete' %>
  <div class="card-team">
    <%= image_tag "https://bnetcmsus-a.akamaihd.net/cms/blog_header/nr/NRKCTXZNWRQ81519177975121.jpg", class:"bottom-line" %>
    <div class="card-team-infos">
      <div>
        <h2>Team <%= team.id %></h2>
        <p>Game: &nbsp;<span><%= team.game.name.capitalize %></span></p>
        <p>Spirit: &nbsp;<span><%= team.spirit.capitalize %></span></p>
        <p>Rank: &nbsp;<span><%= team.rank_scale.capitalize %></span></p>
        <p>Type: &nbsp;<span><%= team.gender_choice.capitalize %></span></p>
      </div>
      <p class="card-team-status ready">TEAM READY</p>
    </div>
  </div>

<% elsif team.status == 'ingame' %>
  <div class="card-team">
    <%= image_tag "https://ksassets.timeincuk.net/wp/uploads/sites/54/2014/11/OVR_Brigitte_007-1024x576.png" %>
    <div class="card-team-infos">
      <div>
        <h2>Team <%= team.id %></h2>
        <p>Game: &nbsp;<span><%= team.game.name.capitalize %></span></p>
        <p>Spirit: &nbsp;<span><%= team.spirit.capitalize %></span></p>
        <p>Rank: &nbsp;<span><%= team.rank_scale.capitalize %></span></p>
        <p>Type: &nbsp;<span><%= team.gender_choice.capitalize %></span></p>
      </div>
      <p class="card-team-status ingame">IN GAME</p>
    </div>
  </div>

<% elsif team.status == 'over' && team.team_review_for(current_user).present? %>
  <div class="card-team">
   <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRF5Hso0rfNz1V41JRKlAxh_H4nn7VcL_2P8sHHmyjWRtBRdP_KLQ"%>
    <div class="card-team-infos">
      <div>
        <h2>Team <%= team.id %></h2>
        <p>Game: &nbsp;<span><%= team.game.name.capitalize %></span></p>
        <p>Spirit: &nbsp;<span><%= team.spirit.capitalize %></span></p>
        <p>Rank: &nbsp;<span><%= team.rank_scale.capitalize %></span></p>
        <p>Type: &nbsp;<span><%= team.gender_choice.capitalize %></span></p>
      </div>
      <h2 class="card-team-pricing">
        <% unless team.average_rating.nil? %>
          <p class="stars"><% team.average_rating.round.times do %>
            <i class="fas fa-star"></i>
          <% end %></p>
        <% end %>
      </h2>
    </div>
  </div>

<% elsif team.status == 'over' && team.team_review_for(current_user).blank? %>
  <div class="card-team">
    <%= image_tag "https://i.kym-cdn.com/photos/images/newsfeed/001/122/517/890.jpg", class:'rpending-img'%>
    <div class="card-team-infos">
      <div>
        <h2>Team <%= team.id %></h2>
        <p>Game: &nbsp;<span><%= team.game.name.capitalize %></span></p>
        <p>Spirit: &nbsp;<span><%= team.spirit.capitalize %></span></p>
        <p>Rank: &nbsp;<span><%= team.rank_scale.capitalize %></span></p>
        <p>Type: &nbsp;<span><%= team.gender_choice.capitalize %></span></p>
      </div>
      <%= link_to team_review_path(team.id) do %>
        <p class="card-team-status rpending"><i class="fas fa-pen"></i> REVIEW PENDING</p>
      <% end %>
    </div>
  </div>
<% end %>
