<%= link_to user_path(friend.id) do %>
  <div class='card-friend'>
    <% borderFriend = '' %>
    <% if friend.status == "ingame" %> <%= image_tag friend.image, class:"friend-image friend-ingame" %>
    <% elsif friend.status == "online" %> <%= image_tag friend.image, class:"friend-image friend-online" %>
    <% else friend.status == "away" %> <%= image_tag friend.image, class:"friend-image friend-away" %>
    <% end %>
    <i class="fas fa-circle <%= friend.status %>"></i>
    <div class='card-friend-info'>
      <h3><%= friend.username %>
        </h3>

      <% if !@user.shared_team_count(friend).zero? %>
        <p><i class="fas fa-heart"></i> <%= @user.shared_team_count(friend) %> games together </p>
      <% else %>
        <p>No game together yet <i class="fas fa-surprise"></i></p>
      <% end %>

      <div class='friend-games'>
        <% friend.games.each do |game|%>
          <p><%= game.name.upcase %> - <%= friend.game_profile(game) %></p>
        <% end %>
      </div>
    </div>

  </div>
<% end %>
