<div class="flip-card-user-review">
 <div class="team-banner-review">
   <%= image_tag src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0a07b6c5-6816-4033-8e6b-ec3d1637506e/d9w5fzt-248cabe6-5e92-4c1d-8737-39d79c9e6fb4.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzBhMDdiNmM1LTY4MTYtNDAzMy04ZTZiLWVjM2QxNjM3NTA2ZVwvZDl3NWZ6dC0yNDhjYWJlNi01ZTkyLTRjMWQtODczNy0zOWQ3OWM5ZTZmYjQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.6pZ2MgGDhNyakHF2heUZl4ZQriFjE45TQi7LkFKymlI", :class => "team-banner-review" %>
   <div class="team-avatar-review">
     <%= image_tag user.image, :class => "team-avatar-review" %>
   </div>
 </div>
  <div class="faces">
    <div class="front">
      <h5>Enjoyed playing with <%= user.username %>?</h5>



      <div class="">
        <% user_review = UserReview.new %>
          <%= simple_form_for [@team, user_review] do |f| %>
            <%= f.hidden_field :user_reviewed_id, :value => user.id %>
            <div class="">
              <%= f.input :add_friend, as: :boolean, boolean_style: :inline %>
              <%= f.input :endorse, as: :boolean, boolean_style: :inline, :class=> "user-review_checkbox" %>
              <button class="fire">fire</button>
              <%= f.input :nok, label: "Not really", as: :boolean, boolean_style: :inline, :class=>'hidden' "user-review_checkbox" %>
            </div>
          <%end%>
      </div>



<br>
<br>
<br>
<br>
<br>
<br>
<br>

      <!-- <button class="fire">fire</button> -->
    </div>
    <div class="back">
      BACK
      <button class="close">X</button>
    </div>
  </div>
  <button class="review-submit">Submit</button>
</div>



<!-- <button onclick="">flip the cardddd</button>
<section class="concon">
  <div class="cardddd" onclick="">
    <div class="front">1</div>
    <div class="back">2</div>
  </div>
</section>
 -->
