<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enjoy your next game</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
                <%= simple_form_for(User.new, as: :user, url: session_path(:user), wrapper: :horizontal_form) do |f| %>
          <div class="form-inputs text-dark form-login">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" }
                         %>
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" }  %>
            </div>

          <div class="form-actions">
            <%= f.button :submit, "Login", class:"button2" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- navbar -->

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="d-flex align-items-center">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "logo_Mercyv1.png", :class=>"toto",width: "30",  height: "30" %>
      <h3>MERCY</h3>
    <% end %>
  </div>

  <!-- USER SIGNED IN -->
  <div class="d-flex align-items-center">
    <% if user_signed_in? %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto d-flex justify-center align-items-center">
          <div class="navbar-text">
            <li class="nav-item active mr-2">
              <%= link_to new_team_path, class: "nav-link" do %>
                <span><i class="fas fa-search"></i> Find a player</span>
              <% end %>
            </li>
            <li class="nav-item active mr-4">
              <%= link_to "Create a team", new_team_path, class: "nav-link" %>
            </li>
            <li class="nav-item d-block d-sm-none">
              <%= link_to "My Profile", user_path(current_user.id), class: "nav-link" %>
            </li>
            <li class="nav-item  d-block d-sm-none">
              <%= link_to "Sign out", destroy_user_session_path, class: "nav-link" %>
            </li>
          </div>
          <li class="dropdown d-none d-sm-block">
            <% if current_user.image %>
              <%= image_tag current_user.image, class: "avatar-navbar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag 'nologin_profile.png', class: "avatar-navbar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "My Profile", user_path(current_user.id), class: "dropdown-item", id: "user-profile" %>
              <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        </ul>
      </div>
  </div>

  <!-- USER NOT SIGNED IN -->
  <% else %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul id="user-op" class="navbar-nav mr-auto">
        <div class="jototo">
          <li class="nav-item active">
            <a class="nav-link" data-toggle="modal" data-target="#exampleModal">Log in</a>
          </li class="nav-item active">
          <li class="nav-item active">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
          </li>
        </div>
        <li class="dropdown d-none d-sm-block">
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
             <%= link_to "Log in", new_user_session_path, class: "dropdown-item" %>
             <%= link_to "Sign up", new_user_registration_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      </ul>
    </div>
  <% end %>
</div>
</div>
