<!-- app/views/offers/show.html.erb -->
    <div class="homepage-banner">
      <div class="homepage-content">
        <div class="homepage-title">
          <h1>Play your favorite game with<br> <strong><span class="pink-text">non-toxic players</span></strong> now.</h1>
          <p>Join the community of <strong>Mercy</strong> and build a respectful place for gamers.</p>
        </div>
        <% if user_signed_in? %>
          <%= link_to "Find team mates", new_team_path, class: "button-green" %>
        <% else %>
          <%= link_to "Join us", new_user_registration_path, class: "button-green" %>
        <% end %>
      </div>
    </div>

    <section id="feature-cards">
      <% title1 = 'Play with respectful gamers' %>
      <% icon1 = 'fas fa-users' %>
      <% para1 = 'What is worth playing with toxic players? Stop harassment, enjoy your game and meet new gamer friends who share your values and game spirit.' %>
      <% title2 = 'Join a non-toxic community' %>
      <% icon2 = 'fas fa-fist-raised' %>
      <% para2 = 'Mercy is the first gamer platform where members are not only judged on their gaming skills but also on their behavior and are endorsed by other players.' %>
      <% title3 = 'Use your mic again' %>
      <% icon3 = 'fas fa-headset' %>
      <% para3 = "Thanks to mercy, you won't hide behing your keyboard anymore. Be yourself fully and use your mic agin. Female gamers are as good as anyone else." %>

      <%= render 'shared/feature_card', title: title1, icon: icon1, para: para1, color: 'orange'%>
      <%= render 'shared/feature_card', title: title2, icon: icon2, para: para2, color: 'light-green'%>
      <%= render 'shared/feature_card', title: title3, icon: icon3, para: para3, color: 'pink'%>
    </section>

  <div id="features">
    <div class="site-stats-box">
      <i class="fas fa-smile-beam"></i>
      <div class="site-stats">9k</div>
      <span class="site-stats-label">Happy players</span>
    </div>

    <div class="site-stats-box">
      <i class="fas fa-headset"></i>
      <div class="site-stats">23K</div>
      <span class="site-stats-label">Parties played</span>
    </div>

    <div class="site-stats-box">
      <i class="fas fa-thumbs-up"></i>
      <div class="site-stats">19K</div>
      <span class="site-stats-label">Positive reviews</span>
    </div>

    <div class="site-stats-box">
      <i class="fas fa-heart"></i>
      <div class="site-stats">13K</div>
      <span class="site-stats-label">Frienships created</span>
    </div>
  </div>

<div id="container-mission">
  <div class="component-mission">
    <div class="img-mission"></div>
    <div class="description-mission">
      <h1>Our Mission.</h1>
      <hr class="w-10 border-top-2 my-6 my-xl-7 ml-0 border-warning">
      <h2>Defeat online harassment, <strong>Mercy</strong> protects and supports female players who want to grow in the gaming community. We create an amicable and positive online environment and experience for all. We are empowering women in gaming, and helping them to feel their best and be respected.</h2><br>
      <p>Mercy</p>
    </div>
  </div>
</div>
