<div class="rails-default-error-page">
  <div class="tenor-gif-embed lobby"></div>
</div>

<div class="container-mates">
    <div id="<%= current_user.id %>" class="team-circle">
      <%= render 'shared/circle_container', mems: @mems.reverse %>
      <%= link_to "Complete the team", team_loading_path, class: "button1" %>

    </div>
<!--
  <div class="lobby-name">
    <h1><%= @user.username %><br>Main character D.va</h1>
  </div> -->

  <div class="friend-bar">
    <ul class="friend-list">
      <h2>MY FRIENDS</h2>
      <% @friends.each do |friend| %>
        <li id="<%= friend.id %>" class="friend" >
          <div class="friend-avatar-available">
            <% if friend.status == "ingame" %>
              <div class="friend-bar-image">
                <%= image_tag friend.image, class:"friend-image-sm friend-ingame" %>
                <i class="fas fa-circle <%= friend.status %>"></i>
              </div>
            <% elsif friend.status == "online" %>
              <div class="friend-bar-image">
                <%= image_tag friend.image, class:"friend-image-sm  friend-online" %>
                <i class="fas fa-circle <%= friend.status %>"></i>
              </div>
            <% else friend.status == "away" %>
              <div class="friend-bar-image">
                <%= image_tag friend.image, class:"friend-image-sm  friend-away" %>
                <i class="fas fa-circle <%= friend.status %>"></i>
              </div>
            <% end %>
          </div>

          <div class="friend-info">
            <p id="friend-username" class="info-<%= friend.status %>"><%= friend.username %></p>
            <p id="main-character">as. <%= friend.profile(@team).capitalize %></p>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
