<<<<<<< HEAD
<div class="container-mates">
    <div class="team-circle">
      <%= render 'shared/circle_container', mems: @mems %>
      <%= link_to "Complete the team", team_random_mates_path, class: "button1" %>

    </div>
<!--
  <div class="lobby-name">
    <h1><%= @user.username %><br>Main character D.va</h1>
  </div> -->

  <div class="friend-bar">
    <ul class="friend-list">
      <h2>MY FRIENDS</h2>
      <% @friends.each do |friend| %>
        <li id="<%= friend.id %>" class="friend" >
          <div class="friend-avatar-available">
            <% if friend.status == "ingame" %> <%= image_tag friend.image, class:"friend-image-sm friend-ingame" %>
          <% elsif friend.status == "online" %> <%= image_tag friend.image, class:"friend-image-sm  friend-online" %>
          <% else friend.status == "away" %> <%= image_tag friend.image, class:"friend-image-sm  friend-away" %>
          <% end %>
          <i class="fas fa-circle <%= friend.status %>"></i>
          </div>
          <div class="friend-info">
            <p id="friend-username">
              <%= friend.username %></p>
            <p id="main-character">main hero <%= friend.profile(@team).capitalize %></p>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

</div>

<div class="hero-detail-video video-background-wrapper is-active m-blend">
  <video class="video-background-vid m-fit-width m-right-align" autoplay="" loop="" muted="">
    <source src="https://d1u1mce87gyfbn.cloudfront.net/hero/dva/idle-video.webm" type="video/webm">
      <source src="https://d1u1mce87gyfbn.cloudfront.net/hero/dva/idle-video.mp4" type="video/mp4">
  </video>
</div>
